@import "components/normalize";
@import "components/header";
@import "components/productgallery";
@import "components/_featuredblog.scss";
@import "components/footer";

$fontSecond: #888890;

body {
    font-family: 'Poppins', sans-serif;
}

// DND - debugging
// *{
//  border-style : solid;
//  border-width : 1px;
// }

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color:#000000;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

.mainhero {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5)
    ),url("images/mainhero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.mainherocontent {
    text-align: center;
    position: relative;
    padding: 18% 0;
    h1, h2 {
        margin: 0;
    }
    h2 {
        font-size: 32px;
        font-weight: 400;
        color: $fontSecond;
    }
    h1 {
        font-size: 60px;
        font-weight: 500;
    }
}

.arrows {
    display: flex;
    justify-content: space-between;
}

.arrows img {
    width: 35px;
}

button {
    background:#f07f84;
    border: none;
    text-transform: uppercase;
    color:#ffffff;
    font-size: 16px;
    font-weight: 400;
    margin-top: 5%;
    padding:1% 4%;
}

.headerdots {
    display: flex;
    justify-content: center;
}

.headerdot {
    width: 12px;
    height: 12px;
    margin: 5px 5px 20px 5px;
    border-radius: 50%;
    background-color: #000000;
}

.headerdot:hover {
    background-color: $fontSecond;
}

.mainblurb {
    text-align: center;
    max-width: 77%;
    margin: 60px auto;
    margin-top: 100px;
    position: relative;
    h2:not(.specialcolour) {
        font-size: 36px;
        font-weight: 500;
        margin: 0;

    }
    p:not(.quoteauthor) {
        color: $fontSecond;
    }
    p {
        margin-top: 50px;
    }
}

.specialcolour {
        font-size: 18px;
        font-weight: 400;
        color:#a8edea;
        display: inline-block;
    &::after{
        content:url("images/Plant.jpg");
        position: absolute;
        z-index: -10;
        right:0;
        left:0;
    }
}

.quoteauthor {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}

.authorjob {
    color: $fontSecond;
    text-transform: none;
    font-style: italic;
    font-weight: 400;    
}

// PRODUCT CATEGORIES BEGINS

.productcatbutton {
    background: #ffffff;
    padding: 7px 10px;
    width: 220px;
    height:90px;
    display: inline-block;
    p {
        color:$fontSecond;
        font-size: 16px;
        font-weight: 400;
        padding: 0;
        margin: 0;
    }    
    h2 {
        font-size:24px;
        font-weight: 400;
        padding: 5px 0 0 0;
        margin: 0;
        
    }


}

.productcatbutton:hover p{
    color: darken(#a8edea, 38);
}

.productcatbutton:hover h2{
    color: darken(#a8edea, 38);
}


.productcategoriesall {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 70px;

    h2 {
        margin: 0;
    }
}

.toptwosquares {
    display: flex;
    justify-content: center;
}

.airplantsflex, .houseplants, .officeplants, .bottomrectangle {
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;

}

.squareplants {
    padding: 100px 50px;
}

.airplantsflex {
    background-image: url("images/annie-spratt-79272.jpg");
    padding: 250px 170px 250px 170px;
    display: flex;
    align-items: center;
}

.officeplants {
    background-image: url("images/alex-rodriguez-santibanez-200278 (1).jpg");
}

.houseplants {
    background-image: url("images/connor-betts-187536 (1).jpg");
}


.bottomrectangle {
    background-image: url("images/plantContainers.jpg");
    padding: 100px 70px;
}

@media (max-width:1280px) {
    .squareplants {
    padding: 90px 40px;
}
    .airplantsflex {
    padding: 250px 160px 240px 160px;
        
    }
    .bottomrectangle {
    padding: 100px 60px;
    }
    
}

@media (max-width:1220px) {
    .squareplants {
    padding: 80px 30px;
}
    .airplantsflex {
    padding: 220px 150px 210px 150px;
        
    }
    .bottomrectangle {
    padding: 80px 50px;
    }
    
}

@media (max-width:1190px) {
    .squareplants {
    padding: 60px 10px;
}
    .airplantsflex {
    padding: 190px 110px 200px 110px;
        
    }
    .bottomrectangle {
    padding: 80px 30px;
    }
    
}

@media (max-width:1000px) {
    .squareplants {
    padding: 10px 10px;
}
    .airplantsflex {
    padding: 130px 20px 140px 20px;
        
    }
    .bottomrectangle {
    padding: 70px 30px;
    }
    
}

@media (max-width:840px) {
    .squareplants {
    padding: 10px 10px;
    }
    .houseplants {
    margin-right: 20px;
    }

    .airplantsflex {
    padding: 130px 20px 140px 20px;
    margin-left: 40px;
    }

    .toptwosquares {
        margin-right: 20px;
    }

    .bottomrectangle {
    padding: 70px 10px;
    margin-right: 40px;
    }
    
}

@media (max-width:800px) {
    
    
    .officeplants {
        background-image: url("images/daria-shevtsova-57355.jpg");
    }
    .houseplants {
        background-image: url("images/daria-shevtsova-573552.jpg")
    }
    
    .bottomrectangle {
        background-image: url("images/plantContainers2.jpg")
    }

    .airplantsflex {
        margin-left: 0px;
        padding: 10px;
        margin-left: 80px;
        padding: 0 50px; 
    }

    .productcategoriesall {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        
    }

    .toptwosquares {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .bottomrectangle {
        margin-right: 30px;
    }

    .houseplants {
        margin-right: 10px;
    }
    .productcatrightside {
        align-content: center;
        justify-content: center;
    }

}

@media (max-width:690px) {
    
   

    .productcategoriesall {
        align-content: center;
    }
        .airplantsflex {
        margin: 10px;
        padding: 10px;
    }

    .toptwosquares {
    margin-right: 0;
    }

    .bottomrectangle {
        background-image: url("images/daria-shevtsova-573554.jpg");
        padding: 10px;
        margin: 10px;
        width: 240px;
    }
    
    }

@media (max-width:520px) {
    .airplantsflex {
        background-image: url("images/daria-shevtsova-573555.jpg"); 
    }
    .productcatbutton {
        opacity: .8;
    }

}


// bottom of product categories 

.title {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    margin-top: 70px;
    &::after {
        content: "";
        margin: 0 auto;
        display: block;
        width: 120px;
        margin-top: 20px;
        height: 2px;
        background-image: linear-gradient(to right, 
        #a8edea, 
        #a8edea, 
        #f5efef,
        #a8edea, 
        #a8edea); 
    }
}



.popproductnav ul {
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 10px;
        li {
            padding: 5px 32px;
        }
        p:hover {
            
            margin-bottom: -10px;
            border-bottom: 2px solid #000000;
        }
}

// product gallery is a partial 

.customerreview {
    display: flex;
    max-width: 1700px;
    margin: 0 auto;
}

.customerquote {
    background-image: url("images/customerBackground.jpg");
    max-width: 50%;
    text-align: center;
    margin: 0 auto;
    position: relative;
    line-height: 28px;
        h2 {
            font-size: 36px;
            font-weight: 500;
            margin-bottom: 80px;
            margin-top: 80px;
        }
        p {
            margin: 5px 60px;
        }
}

.rosinantequote {
    font-size: 16px;
    font-weight:400;
    font-style: italic;
}

.rosinante {
    font-size: 14px;
    font-weight:500;
    color: $fontSecond;
    text-transform: uppercase;
    font-style: normal;
}


.customerquote h2::after {
    content:url("images/largequotes.svg");
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}



.videodotscontainer {
    display: flex;
    margin-top: 10px;
    margin: 0 auto;
    justify-content: center;
    margin-top: 50px;
}

.videodots {
    width: 40px;
    height: 40px;
    background: #888890;
    border-radius: 50%;
    margin: 15px;
}

.videodots:hover {
    width: 60px;
    height: 60px;
    margin: 5px;
}

.plantvideo {
    width: 50%;
    text-align: center;
    justify-content: center;
}

.plantstore {
    display: flex;
    position: relative;
    width: 70%;
    margin: 0 auto;
    margin: 20px o;
} 

.plantvideocontainer {
    background:linear-gradient(rgba(26,26,26,.5),rgba(26,26,26,.5)),url("images/daria-shevtsova-57355.jpg");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-top: 100px;
    padding-bottom: 130px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.playicon {
    width: 80px;
    height: 80px;
    background-color: #f07f84;
    border-radius: 50%;
    margin: 0 auto;
    border: 10px solid rgba(255, 154, 158, 0.3);
    background-clip: padding-box;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
}

.play {
    position: absolute;
    right: 0;
    left: 26px;
    top: 24px;
    bottom: 0;
    width: 0; 
    height: 0; 
    border-top: 5px solid transparent; 
    border-left: 10px solid #ffffff; 
    border-bottom: 5px solid transparent; 
}

@media (max-width:1034px) {
 .customerreview, .customerquote, .plantvideocontainer {
        display: none;
    }
}


// beginning of newsletter signup section 


.signup {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.signup p {
    color: $fontSecond;
    text-align: center;
    max-width: 70%;
    font-size: 14px;
}

input {
// margin: 50px 10px;
margin: 50px 10px;
width: 75%;
border: none;
border-bottom: 2px solid #F2F3EE;
    }

input:focus {
    color: darken(#a8edea, 45);
}

.enteremail {   
    display: flex;
    justify-content: center;
    margin: 1px;
    padding: 1px;
        
        &::after{
            content: url("images/MailIcon.png");
            width: 24px;
            height: 18px;
            margin-top:50px;
        }
    }

// end of newsletter signup

// logo section

.logosection {
    display: flex;
    justify-content: space-between;
}

.logosection img {
    align-self: center;
    margin: 40px;
    padding: 10px;
}

.logosection img:first-child {
    margin: 40px 40px 40px 0;

} 

.logosection img:last-child {
    margin: 40px 0 40px 40px;
}

.line {
    height: 2px;
    border-bottom: 1px solid #F2F3EE;
}

@media (max-width:1000px) {
    .logosection {
        display: none;
    }
}



    
// make partial
// save partial
// delete partial css
// import partial
// save style scss